@keyframes overlay {
    from{background-color: rgba(255, 255, 255, 0);}
    to{background-color: rgba(255, 255, 255, 0.4);}
}

@-webkit-keyframes overlay {
    from{background-color: rgba(255, 255, 255, 0);}
    to{background-color: rgba(255, 255, 255, 0.4);}
}

@-webkit-keyframes simpleFade {
  from{opacity: 0;}
  75%{opacity: 1;}
  to{opacity: 0;}
}

@keyframes simpleFade {
  from{opacity: 0;}
  75%{opacity: 1;}
  to{opacity: 1;}
}

@keyframes bounceIn {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    0% {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }

    20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1);
    }

    40% {
        -webkit-transform: scale3d(0.9, 0.9, 0.9);
        transform: scale3d(0.9, 0.9, 0.9);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03);
    }

    80% {
        -webkit-transform: scale3d(0.97, 0.97, 0.97);
        transform: scale3d(0.97, 0.97, 0.97);
    }

    to {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes slideInDown {
    from {
        -webkit-transform: scale(.8, .8) translate3d(0, 0, 0);
        transform: scale(.8, .8) translate3d(0, 0, 0);
    }

    30%{
        -webkit-transform: scale(.7, 1) translate3d(0, 20%, 0);
        transform: scale(.7, 1) translate3d(0, 20%, 0);
    }
    40%{
        -webkit-transform: scale(1, 0.7);
        transform: scale(1, 0.7);
    }
    60%{
        -webkit-transform: scale(.8, 0.9) translate3d(0, 5%, 0);
        transform: scale(.8, 0.9) translate3d(0, 5%, 0);
    }

    to {
        -webkit-transform: scale(.8, .8) translate3d(0, 0, 0);
        transform: scale(.8, .8) translate3d(0, 0, 0);
    }
}

@keyframes slideInDown {
    from {
        -webkit-transform: scale(.8, .8) translate3d(0, 0, 0);
        transform: scale(.8, .8) translate3d(0, 0, 0);
    }

    30%{
        -webkit-transform: scale(.7, 1) translate3d(0, 20%, 0);
        transform: scale(.7, 1) translate3d(0, 20%, 0);
    }
    40%{
        -webkit-transform: scale(1, 0.7);
        transform: scale(1, 0.7);
    }
    60%{
        -webkit-transform: scale(.8, 0.9) translate3d(0, 5%, 0);
        transform: scale(.8, 0.9) translate3d(0, 5%, 0);
    }

    to {
        -webkit-transform: scale(.8, .8) translate3d(0, 0, 0);
        transform: scale(.8, .8) translate3d(0, 0, 0);
    }
}

@-webkit-keyframes rubberBandIddle {
    from {
        -webkit-transform: scale3d(0.75, 1.05, 1);
        transform: scale3d(0.75, 1.05, 1);
    }

    30% {
        -webkit-transform: scale3d(1.05, 0.75, 1);
        transform: scale3d(1.05, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.05, 1);
        transform: scale3d(0.75, 1.05, 1);
    }

    50% {
        -webkit-transform: scale3d(0.95, 0.85, 1);
        transform: scale3d(0.95, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.85, 1.05, 1);
        transform: scale3d(0.85, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(0.95, 0.95, 1);
        transform: scale3d(0.95, 0.95, 1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes rubberBandIddle {
    from {
        -webkit-transform: scale3d(0.75, 1.05, 1);
        transform: scale3d(0.75, 1.05, 1);
    }

    30% {
        -webkit-transform: scale3d(1.05, 0.75, 1);
        transform: scale3d(1.05, 0.75, 1);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.05, 1);
        transform: scale3d(0.75, 1.05, 1);
    }

    50% {
        -webkit-transform: scale3d(0.95, 0.85, 1);
        transform: scale3d(0.95, 0.85, 1);
    }

    65% {
        -webkit-transform: scale3d(0.85, 1.05, 1);
        transform: scale3d(0.85, 1.05, 1);
    }

    75% {
        -webkit-transform: scale3d(0.95, 0.95, 1);
        transform: scale3d(0.95, 0.95, 1);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes rubberBandRight {
    from {
        -webkit-transform: scale3d(0.75, 1.15, 1) rotate(-20deg) translate(-50%, -70%);
        transform: scale3d(0.75, 1.15, 1) rotate(-20deg) translate(-50%, -70%);
    }

    30% {
        -webkit-transform: scale3d(1.15, 0.75, 1) rotate(0) translate(0%, 0%);
        transform: scale3d(1.15, 0.75, 1) rotate(0) translate(0%, 0%);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.15, 1) rotate(10deg) translate(0%, -40%);
        transform: scale3d(0.75, 1.15, 1) rotate(10deg) translate(0%, -40%);
    }

    50% {
        -webkit-transform: scale3d(1.05, 0.85, 1) rotate(0) translate(0%, 0%);
        transform: scale3d(1.05, 0.85, 1) rotate(0) translate(0%, 0%);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1) rotate(-2.5deg) translate(0%, -20%);
        transform: scale3d(0.95, 1.05, 1) rotate(-2.5deg) translate(0%, -20%);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1) rotate(0) translate(0%, 0%);
        transform: scale3d(1.05, 0.95, 1) rotate(0) translate(0%, 0%);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes rubberBandRight {
    from {
        -webkit-transform: scale3d(0.75, 1.15, 1) rotate(-20deg) translate(-50%, -70%);
        transform: scale3d(0.75, 1.15, 1) rotate(-20deg) translate(-50%, -70%);
    }

    30% {
        -webkit-transform: scale3d(1.15, 0.75, 1) rotate(0) translate(0%, 0%);
        transform: scale3d(1.15, 0.75, 1) rotate(0) translate(0%, 0%);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.15, 1) rotate(10deg) translate(0%, -40%);
        transform: scale3d(0.75, 1.15, 1) rotate(10deg) translate(0%, -40%);
    }

    50% {
        -webkit-transform: scale3d(1.05, 0.85, 1) rotate(0) translate(0%, 0%);
        transform: scale3d(1.05, 0.85, 1) rotate(0) translate(0%, 0%);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1) rotate(-2.5deg) translate(0%, -20%);
        transform: scale3d(0.95, 1.05, 1) rotate(-2.5deg) translate(0%, -20%);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1) rotate(0) translate(0%, 0%);
        transform: scale3d(1.05, 0.95, 1) rotate(0) translate(0%, 0%);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes rubberBandLeft {
    from {
        -webkit-transform: scale3d(0.75, 1.15, 1) rotate(20deg) translate(50%, -70%);
        transform: scale3d(0.75, 1.15, 1) rotate(20deg) translate(50%, -70%);
    }

    30% {
        -webkit-transform: scale3d(1.15, 0.75, 1) rotate(0) translate(0%, 0%);
        transform: scale3d(1.15, 0.75, 1) rotate(0) translate(0%, 0%);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.15, 1) rotate(-10deg) translate(0%, -40%);
        transform: scale3d(0.75, 1.15, 1) rotate(-10deg) translate(0%, -40%);
    }

    50% {
        -webkit-transform: scale3d(1.05, 0.85, 1) rotate(0) translate(0%, 0%);
        transform: scale3d(1.05, 0.85, 1) rotate(0) translate(0%, 0%);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1) rotate(2.5deg) translate(0%, -20%);
        transform: scale3d(0.95, 1.05, 1) rotate(2.5deg) translate(0%, -20%);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1) rotate(0) translate(0%, 0%);
        transform: scale3d(1.05, 0.95, 1) rotate(0) translate(0%, 0%);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes rubberBandLeft {
    from {
        -webkit-transform: scale3d(0.75, 1.15, 1) rotate(20deg) translate(50%, -70%);
        transform: scale3d(0.75, 1.15, 1) rotate(20deg) translate(50%, -70%);
    }

    30% {
        -webkit-transform: scale3d(1.15, 0.75, 1) rotate(0) translate(0%, 0%);
        transform: scale3d(1.15, 0.75, 1) rotate(0) translate(0%, 0%);
    }

    40% {
        -webkit-transform: scale3d(0.75, 1.15, 1) rotate(-10deg) translate(0%, -40%);
        transform: scale3d(0.75, 1.15, 1) rotate(-10deg) translate(0%, -40%);
    }

    50% {
        -webkit-transform: scale3d(1.05, 0.85, 1) rotate(0) translate(0%, 0%);
        transform: scale3d(1.05, 0.85, 1) rotate(0) translate(0%, 0%);
    }

    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1) rotate(2.5deg) translate(0%, -20%);
        transform: scale3d(0.95, 1.05, 1) rotate(2.5deg) translate(0%, -20%);
    }

    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1) rotate(0) translate(0%, 0%);
        transform: scale3d(1.05, 0.95, 1) rotate(0) translate(0%, 0%);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@-webkit-keyframes pulseStart {
    from {
        background-color: $btnBgDef;
    }

    50% {
        background-color: $btnBgHover;
    }

    to {
        background-color: $btnBgDef;
    }
}

@keyframes pulseStart {
    from {
        background-color: $btnBgDef;
    }

    50% {
        background-color: $btnBgHover;
    }

    to {
        background-color: $btnBgDef;
    }
}

@keyframes playerDied {
    -webkit-transform-origin: 0% 100%;
    -webkit-perspective: 200;
    -webkit-perspective-origin: 50% 50%;
    -moz-transform-origin: 0% 100%;
    -moz-perspective: 200;
    -moz-perspective-origin: 50% 50%;
    -o-transform-origin: 0% 100%;
    -o-perspective: 200;
    -o-perspective-origin: 50% 50%;
    -ms-transform-origin: 0% 100%;
    -ms-perspective: 200;
    -ms-perspective-origin: 50% 50%;
    transform-origin: 0% 100%;
    perspective: 200;
    perspective-origin: 50% 50%;
}
