// CONTAINER
.container{
    margin: 0 auto;
    padding: 50px;
}
.rel{position: relative;}

.none{display: none;}

// MARGIN
.no-mr{margin-right: 0;}
.mr{margin-right: $marginDef;}
.mr-s{margin-right: $marginSmall;}
.mr-m{margin-right: $marginMedium;}
.mr-l{margin-right: $marginLarge;}
.no-mb{margin-bottom: 0;}
.mb{margin-bottom: $marginDef;}
.mb-s{margin-bottom: $marginSmall;}
.mb-m{margin-bottom: $marginMedium;}
.mb-l{margin-bottom: $marginLarge;}

// BOUTON
.btn{
    @include btnDefault;
}
.btn-rnd{
    @include btnDefRnd($borderRadBtn);
}

// FLEXBOX
.fbox{
    @include display-flex;
    @include flex-wrap(wrap);

    .w-1-1{width: 100%;}
    .w-1-2{
        @include calc(width ,50% - #{$marginDef/2});
        @include mr;
        @include mb;
        &:nth-child(2n){
            @include no-mr;
        }
    }
    .w-1-3{
        @include calc(width , 100% / 3 - #{$marginDef/1.5});
        @include mr;
        @include mb;
        &:last-child{
            @include no-mr;
        }
        &.no-mb{
            margin-bottom: 0;
        }
    }
    .w-1-4{
        @include calc(width , 25% - #{$marginDef/1.33});
        @include mr;
        @include mb;
        &:nth-child(4n){
            @include no-mr;
        }
    }
}
