
// MARGIN
@mixin no-mr {
    margin-right: 0;
}

@mixin mr {
    margin-right: $marginDef;
}
@mixin mb {
    margin-bottom: $marginDef;
}

// BOUTON
@mixin resetBtn {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;

    /* Remove excess padding and border in Firefox 4+ */
    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}

@mixin btnDefault {
    @include resetBtn;
    padding: $paddingSmall;
    font-family: $fontDef;
    color: $btnColDef;
    background-color: $btnBgDef;
    @include transition(all $tranSpeedFast ease);

    &:hover{
        color: $btnColHover;
        background-color: $btnBgHover;
    }

}

@mixin btnDefRnd($radius) {
    @include btnDefault;
    @include border-radius(#{$radius});
    &:hover{
        @include border-radius(#{$radius});
    }
}

@mixin fadeDefault{
    transition: .6s ease-in-out;
}
@mixin fadeFast{
    transition: .3s ease-in-out;
}

@mixin calc($property, $expression) {
	#{$property}: -moz-calc(#{$expression});
	#{$property}: -webkit-calc(#{$expression});
	#{$property}: calc(#{$expression});
}

@mixin shadow ($color){
    -moz-box-shadow: 0px 3px 10px 1px $color;
    -webkit-box-shadow: 0px 3px 10px 1px $color;
    -o-box-shadow: 0px 3px 10px 1px $color;
    box-shadow: 0px 3px 10px 1px $color;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=$color, Direction=180, Strength=10);
}

@mixin boxBorderHover {
    border: 1px solid rgba(0, 0, 0, 0.55);
    opacity: 1;
    cursor: pointer;
}
