@media screen and (max-width: 1024px) {
    .modal{
        display: block;

        .modal-container{
            position: absolute;
            top: -30vh;
            padding: .75rem;
            left: 0;
            right: 0;
            opacity: 0;
            @include transition(all 1s ease-out);

            &.open{
                top: 0;
                opacity: 1;
            }
        }
    }
}

@media screen and (max-width: 640px) {
    #demo{
        p{
            font-size: 1.5rem;
        }
    }

    .game-options{
        text-align: center;

        .user,
        .ai,
        .option-title{
            margin-bottom: .5rem;
        }
        button.btn-rnd{
            letter-spacing: 2px;
            font-size: 1rem;
        }
    }
}
