// COLORS
$btnColDef : #d7bbf5;
$btnBgDef : #2e2f4a;
$btnColHover : $btnBgDef;
$btnBgHover : #1993f7;
$defaultLinkCol : #000000;
$blueWelcome : #5498de;

// FONT FAMILY
$fontDef : Arial, "Helvetica Neue", Helvetica, sans-serif;
$fontTitle : "Arial Black", "Arial Bold", Gadget, sans-serif;

// CUSTOM HEIGHT
// main-container -> 40px; grid-container -> 40px; control -> 20px;
// main-container -> 4rem; grid-container -> 4rem; control -> 2rem;
$elemHeight: calc((100vh - 10rem) / 9);

// MARGIN
$marginSmall : 10px;
$marginDef : 1rem;
$marginMedium : 30px;
$marginLarge : 50px;

// PADDING
$padDef : 20px;
$paddingSmall : 10px;

// BORDER RADIUS
$borderRadSmall : 5px;
$borderRadDef : 10px;
$borderRadMedium : 20px;
$borderRadLarge : 30px;
$borderRadBtn : 7px;

// TRANSITION
$tranSpeedDefault : .7s;
$tranSpeedFast : .3s;
