@import "variables", "compass", "compass/css3/animation", "mixins", "customClass";

html{font-size: 100%;}
body{
    position: relative;
    @include background(url('../img/bg.png'),linear-gradient(141deg, #9edcc0 0%, #c0c5e8 30%, #9e96d8 85%));
    background-repeat: repeat;
    background-blend-mode: overlay;
    height: 100vh;

}

h1{
    font-family: 'Bangers', cursive;
    font-size: 2rem;
}

button.btn-rnd{
    cursor: pointer;
    font-family: 'Bangers', cursive;
    letter-spacing: 3px;
    font-size: 1.2rem;
}

.main-container{
    margin: 0 auto;
    padding: 2rem 0;
}

.modal{
    position: absolute;
    top: -30vh;
    left: 0;
    right: 0;
    height: 30vh;
    background-color: rgba(46, 47, 74, .8);;
    @include transition(all 1s ease-in-out);
    @include single-box-shadow(20px, 0, 20px, 20px, rgba(0, 0, 0, 0));
    z-index: 3;

    &.open{
        top: 0;
        @include single-box-shadow(20px, 0, 20px, 20px, rgba(0, 0, 0, .2));
    }
}

#modal-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.4);
    @include animation-duration(1s);
    @include animation-iteration-count(1);
    @include animation-name(overlay);
    @include transition(all 1s ease-in-out);
    z-index: 2;

    &.fadeOut{
        background-color: rgba(255, 255, 255, 0);
    }
}
.modal{
    @include display-flex();

    .modal-container{
        @include flex-grow(3);
        padding: 1.5rem;
        &:last-child{
            @include flex-grow(1);
        }
    }

    .btn-rnd{
        background-color: $btnBgHover;
        color: #fff;

        &:hover{
            background-color: #fff;
            color: $btnBgHover;
        }

        &.muted{
            opacity: .5;
            background-color: grey;

            &:hover{
                color: inherit;
                background-color: inherit;
            }
        }
    }
}


.btn-option{

    position: absolute;
    top: calc(30vh - 1px);
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;

    #open-login,
    #open-message{
        border: 0;
        background-color: rgba(46, 47, 74, .8);
        // left: calc(50% - 32px);
        padding: 2px 20px;
        border-radius: 0 0 50% 50%;
    }

    svg{
        path{
            fill: $btnColDef;
        }
    }
}

.game-options{
    text-align: center;

    .user,
    .ai,
    .option-title{
        margin-bottom: 1rem;
    }

    .vert-sep{
        position: relative;
        &::after{
            content: "";
            position: absolute;
            width: 1px;
            top: 0;
            bottom: 0;
            right: -0.4rem;
            background-color: rgba(215, 187, 245, 0.15);
        }
    }

    .option-title{
        position: relative;
        &::before,
        &::after{
            content: "";
            position: absolute;
            top: 12px;
            width: calc(50% - 24px);
            height: 1px;
            background-color: $btnColDef;
        }

        &::before{left: 0;}
        &::after{right: 0;}
    }

    button{

        &:hover{
            svg{
                path{
                    fill: $btnBgHover;
                }
            }
        }
        svg{
            path{
                fill: #fff;
            }
        }
    }

    svg{
        path{
            fill: $btnColDef;
        }
    }
}


.message{

    .message-write{
        @include display-flex();
        @include align-items(stretch);
        margin-bottom: 1rem;

        input{
            @include border-radius($borderRadSmall);
            @include flex-grow(2);
            margin-right: 1rem;
            padding-left: 10px;
            border: 0;
        }

        button{
            @include flex-grow(1);
            max-width: 250px;
        }
    }

    .message-display{
        overflow-y: scroll;
        height: calc(20vh - 3rem);
        max-height: calc(20vh - 3rem);
        background-color: #d7bbf5;
        padding: 10px;
        border-radius: 7px;
    }
}
#pop-message{
    position: absolute;
    left: 2rem;
    right: 2rem;
    top: calc(30vh + 38px);
    color: $btnColDef;
    @include border-radius(7px);
    background-color: rgba(46, 47, 74, .8);
    @include transition(all .7s ease);
    opacity: 0;
    z-index: 20;

    &.pop{
        opacity: 1;
    }

    .pop-container{
        padding: 5px;
        padding-left: 20px;

        &::before{
            content: "";
            content: "";
            position: absolute;
            top: 5px;
            left: 10px;
            bottom: 5px;
            width: 3px;
            background-color: #47c109;
        }
    }
}

// Fenetre Acccueil
.title-modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #2691d5;
    z-index: 5;
    opacity: 0;
    transition: all .3s ease-in;

    @include display-flex();
    @include justify-content(center);
    @include align-items(center);

    &.open{
        opacity: 1;
    }

    .title-background{
        position: relative;
        width: 50vw;
        height: 30vh;
        background-color: #e4e7ff;
        text-align: center;
        cursor: pointer;
        @include border-radius(#{$borderRadDef});


        .title{
            overflow: hidden;
            @include border-radius(#{$borderRadDef});
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            @include display-flex();
            @include justify-content(center);
            @include align-items(center);

            // &::before,
            &::after{
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 100%;

                @include transition(all 1.5s ease-in-out);
                @include background(url('../img/bg1.jpg'));
                background-repeat: repeat;
                background-blend-mode: soft-light;
                z-index: 1;
            }

            &::after{
                top: -100%;
                background-color: #8aa1d8;
            }

            &.anim::after{
                top: 0;
            }


        }

        h1{
            position: absolute;
            z-index: 5;
            margin: 0;
            color: #d9f1f7;
            letter-spacing: 3px;
            text-shadow: 2px 0 0 #154e82, -2px 0 0 #154e82, 0 2px 0 #154e82, 0 -2px 0 #154e82, 1px 1px #154e82, -1px -1px 0 #154e82, 1px -1px 0 #154e82, -1px 1px 0 #154e82;
        }
    }

}

// Container demo mode
#demo{
    position: fixed;
    top: 50%;
    right: 10%;
    left: 10%;
    padding: 1rem;
    text-align: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-animation: simpleFade 2s cubic-bezier(0.65, 0.03, 0.01, 0.74) 0s infinite normal;
    animation: simpleFade 2s cubic-bezier(0.65, 0.03, 0.01, 0.74) 0s infinite normal;
    z-index: 2;

    p{
        margin: 0;
        font-family: 'Bangers', cursive;
        font-size: 2rem;
        letter-spacing: 3px;
        color: #2691d5;
    }
}

// Container jeux
.grid-container{
    position: relative;
    width: intrinsic;           /* Safari/WebKit uses a non-standard name */
    width: -moz-max-content;    /* Firefox/Gecko */
    width: -webkit-max-content; /* Chrome */
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(5, $elemHeight);
    grid-template-rows: repeat(8, $elemHeight) calc(#{$elemHeight} + 2rem);
    background-color: rgba(134, 101, 199, .85);
    box-shadow: inset 3px 5px 3px 0px #dbd6e4;
    @include border-radius(10px);

    &::before{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: inset -3px -5px 3px 0px #7051a9;
        @include border-radius(10px);
    }

    .cell{
        background-color: #eee1f3;

        &:first-child{
            @include border-top-left-radius(7px);
        }
        &:nth-child(5){
            @include border-top-right-radius(7px);
        }
        &:nth-child(36){
            @include border-bottom-left-radius(7px);
        }
        &:nth-child(40){
            @include border-bottom-right-radius(7px);
        }
    }

    img{
        height: $elemHeight;
        width: $elemHeight;
    }

    img.player{

        &.iddle,
        &.left,
        &.right{
            @include animation-duration(1s);
            @include animation-iteration-count(1);
            transform-origin: 50% 100%;
            transform:translate(0%, 0%);
        }

        &.iddle{
            @include animation-delay(1.5s);
            @include animation-iteration-count(infinite);
            @include animation-name(rubberBandIddle);
            transform-origin: 50% 100%;
        }

        &.died{
            @include animation-name(playerDied);
            @include animation-duration(1s);
            @include animation-iteration-count(1);
        }

        &.left{
            @include animation-name(rubberBandLeft);
        }
        &.right{
            @include animation-name(rubberBandRight);
        }
    }
    img:not(.player){
        transform: scale(1, 1) translate3d(0, 0, 0);
        @include animation-name(slideInDown);
        @include animation-duration(1s);
        @include animation-iteration-count(infinite);

        &.anim{
            @include animation-name('none');
        }
    }

    .control{
        grid-column-start: 1;
        grid-column-end: 6;
        padding-top: 2rem;
        @include align-items(stretch);

        .arrow-l{

            svg {
                transform: rotate(180deg);
            }

        }

        button{
            position: relative;
            font-family: 'Bangers', cursive;
            font-size: 1.5rem;
            letter-spacing: .1rem;

            &::before{
                content: '';
                position: absolute;
                top: -2px;
                right: -2px;
                bottom: -2px;
                left: -2px;
                box-shadow: inset -2px -3px 2px 0px rgba(219, 215, 228, 0.45);
                @include border-radius(7px);
            }
            &::after{
                content: '';
                position: absolute;
                top: -2px;
                right: -2px;
                bottom: -2px;
                left: -2px;
                box-shadow: inset 2px 3px 2px 0px #7051a9;
                @include border-radius(7px);
            }
        }

        img{
            width: 100%;
            height: 100%;
        }

        svg{
            vertical-align: middle;
            width: 50%;

            path{
                fill: $btnColDef;
            }
        }
    }

    #leftButton{
        svg {
            transform: rotate(180deg);
        }
    }
    #startButton,
    #playButton{
        @include animation-name('none');
        color: $btnColDef;
        background-color: $btnBgDef;
        opacity: 0;

        &.pulse{
            @include animation-name(pulseStart);
            @include animation-duration(2s);
            @include animation-iteration-count(infinite);
            opacity: 1;
        }

        &[disabled]{
            opacity: .5;
        }
    }
}

@import "animations", "responsive";
